In [ ]:
1 = [1,2,3,]

### Everyone should come with property of list that is not discussed

# Day 4

### Tuple

In [ ]:
##### 1) Container object
##### 2) Heterogenious->allow multiple data type
##### 3) Can have duplicate
##### 4) Immutable
##### 5) Slement are seperate by comma,

In [1]:
sample_tuple=(1,6,2,3,8,3,"hi")
sample_tuple

(1, 6, 2, 3, 8, 3, 'hi')

In [2]:
type (sample_tuple)

tuple

In [3]:
sample_tuple2=1,6,2,3,8,3,"hi"
sample_tuple2

(1, 6, 2, 3, 8, 3, 'hi')

In [4]:
type(sample_tuple)

tuple

In [9]:
print(sample_tuple)
print(sample_tuple2)

(1, 6, 2, 3, 8, 3, 'hi')
(1, 6, 2, 3, 8, 3, 'hi')

In [10]:
sample_tuple=(1,6,2,3,8,3,"hi")
sample_tuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [14]:
sorted(sample_tuple2)

TypeError: '<' not supported between instances of 'str' and 'int'

In [16]:
sorted(sample_tuple,reverse=True)

TypeError: '<' not supported between instances of 'int' and 'str'

In [22]:
n=4
rep_tuple=sample_tuple*n
rep_tuple

(1,
 6,
 2,
 3,
 8,
 3,
 'hi',
 1,
 6,
 2,
 3,
 8,
 3,
 'hi',
 1,
 6,
 2,
 3,
 8,
 3,
 'hi',
 1,
 6,
 2,
 3,
 8,
 3,
 'hi')

In [23]:
sample_tup1=(1,2,3,4)
sample_tup2=(5,7,8,1)
sam=sample_tup1+sample_tup2
sam

(1, 2, 3, 4, 5, 7, 8, 1)

In [24]:
sample_tup1=(1,2,3,4)
sample_tup2=(5,7,8,1,10,15)
sam=sample_tup1+sample_tup2
sam

(1, 2, 3, 4, 5, 7, 8, 1, 10, 15)

In [25]:
print(2 in sample_tup1)

True

In [26]:
print(10 in sample_tup1)

False

In [28]:
print(10 not in sample_tup1)

True

In [36]:
Tools=["Python","R","Excel"]
for every_tool in Tools:
    print(every_tool)

Python
R
Excel

In [37]:
### How many elements in Tools
len(Tools)

3

In [38]:
Tools=["Python","R","Excel"]
for every_tool in Tools:
    print(every_tool)

Python
R
Excel

In [39]:
len(every_tool)

5

In [46]:
Prices=(100,200,213,132,167,789,635,456)
max(Prices)

789

In [43]:
min (Prices)

100

In [45]:
Prices=(100,200,213,132,167,789,635,456,"hii")
max(Prices)

TypeError: '>' not supported between instances of 'str' and 'int'

In [47]:
Prices.append(50)

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
Prices

(100, 200, 213, 132, 167, 789, 635, 456)

In [49]:
Prices[2].append(50)

AttributeError: 'int' object has no attribute 'append'

In [51]:
Prices=(100, 200, 213, 132, 167, 789, 635, 456,[1,2,3])
prices[6].append(50)

NameError: name 'prices' is not defined

In [52]:
Prices

(100, 200, 213, 132, 167, 789, 635, 456, [1, 2, 3])

In [53]:
Prices[0:3]

(100, 200, 213)

In [54]:
Prices[2:6]

(213, 132, 167, 789)

In [55]:
tuple(range(1,11)) #

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [56]:
x = ("apple", "banana", "cherry") # 
y = list(x)
y[1] = "kiwi"
x = tuple

### Dictionary

#### 1) Key-value pair
#### 2){}
#### 3) Indexing- Square bracket
#### 4) Mutable

In [59]:
dict={'name':"arun",'HOBBIES':["Painting","singing","cooking"],1:23}

In [60]:
dict_1

{'name': 'arun', 'HOBBIES': ['Painting', 'singing', 'cooking'], 1: 23}

In [61]:
dict_1[keys]

NameError: name 'keys' is not defined

In [63]:
dict_1.keys()

dict_keys(['name', 'HOBBIES', 1])

In [64]:
dict_1.values()

dict_values(['arun', ['Painting', 'singing', 'cooking'], 23])

In [65]:
dict_1['name']="neeraj"

In [66]:
dict_1

{'name': 'neeraj', 'HOBBIES': ['Painting', 'singing', 'cooking'], 1: 23}

In [67]:
del dict_1['name']

In [68]:
dict_1

{'HOBBIES': ['Painting', 'singing', 'cooking'], 1: 23}

In [80]:
### Add a new key- value
dict.update({"class":"ds"})

In [81]:
len(dict)

3

In [82]:
type(dict)

dict

In [84]:
dict.items()

dict_items([('HOBBIES', ['Painting', 'singing', 'cooking']), (1, 23), ('class', 'ds')])

In [89]:
dict.get('HOBBIES')

['Painting', 'singing', 'cooking']

In [88]:
dict.get("class")

'ds'

In [92]:
### Sets
sample_set={1,2,3.8,4,5,1,42,7.2,8,9,"hi","hellow","ds"}

In [93]:
sample_set

{1, 2, 3.8, 4, 42, 5, 7.2, 8, 9, 'ds', 'hellow', 'hi'}

In [94]:
### Sets
sample_set={1,2,3.8,4,5,1,42,7.2,8,9,"hi","hellow","ds",-1}

In [95]:
sample_set

{-1, 1, 2, 3.8, 4, 42, 5, 7.2, 8, 9, 'ds', 'hellow', 'hi'}

In [96]:
### Sets
sample_set={1,2,3.8,4,5,1,42,7.2,8,9,"hi","hellow","ds",1.2,5.2,0.23}

In [97]:
sample_set

{0.23, 1, 1.2, 2, 3.8, 4, 42, 5, 5.2, 7.2, 8, 9, 'ds', 'hellow', 'hi'}

In [98]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [99]:
sample_set[0]=1

TypeError: 'set' object does not support item assignment

In [100]:
sample_set.add(100)

In [101]:
sample_set

{0.23, 1, 1.2, 100, 2, 3.8, 4, 42, 5, 5.2, 7.2, 8, 9, 'ds', 'hellow', 'hi'}

In [105]:
sample_set.remove(1.2)

In [106]:
sample_set

{0.23, 1, 100, 2, 3.8, 4, 42, 5, 5.2, 7.2, 8, 9, 'ds', 'hellow', 'hi'}

#### Set does not allow duplicate
#### We cnnot retrieve the set using index
#### Set is mutable
#### Set has {}
#### Order-Fisrt place

In [108]:
# Program to find the summation of all natural number till 10
num=10

# initialize addition and counter
addition = 0
i = 1

while(i <= num):                   # while loop with the terminatio condition
    addition = addition + i        
    i = i + 1                      #incrementing the counter by 1 everytime the loop is executed
    
# print the sum
print("Addition is:", addition)

Addition is: 55

In [109]:
number = range(1,12)
addition = 0
for i in number:
    addition = addition + i
    
    
print("Addition is:",addition)

Addition is: 66

In [114]:
text = "exchanges"
for letter in text:
    if letter == 'h':
        break
    print(letter)
print("The for loop stopped executing")

e
x
c
The for loop stopped executing

In [138]:
  for i in range(1,12):
        for num in range (i):
               print(i, end=" ")
        print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

10 10 10 10 10 10 10 10 10 10

11 11 11 11 11 11 11 11 11 11 11