### print Hello world

# Python is important language

In [1]:
print("Hellow sir")

Hellow sir

In [2]:
print("neeraj jangra")

neeraj jangra

In [3]:
print("Datascience")

Datascience

### Varible

In [7]:
name="neeraj"
age=35
income=200000

In [8]:
print(name)
print(age)
print(income)

neeraj
35
200000

In [9]:
namelist="neeraj","vickey"
namelist

('neeraj', 'vickey')

In [10]:
name list="neeraj","vickey"
name list

SyntaxError: invalid syntax (4219145097.py, line 1)

# Space is not allowed

In [12]:
2namelist="neeraj","vickey"
2namelist

SyntaxError: invalid decimal literal (1688946715.py, line 1)

## varible name should not start with a number

In [13]:
n2amelist="neeraj","vickey"
n2amelist

('neeraj', 'vickey')

## But you can put number any whereelse

In [14]:
name-list="neeraj","vickey"
name-list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3515673730.py, line 1)

In [15]:
name+list="neeraj","vickey"
name+list

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1285104993.py, line 1)

In [16]:
name_list="neeraj","vickey"
name_list

('neeraj', 'vickey')

### The only allowed spl character is underscore

### Varible name should start with A-Z,a-z, or underscore

## We would only recive the second assigned value as the output since that was the most recent assignment

In [21]:
name = "neeraj"
name = "sumit"
print(name)

sumit

In [22]:
x=y=z=10
print(x)

10

In [23]:
print(y)

10

In [24]:
x,y,z,=1,2,3
print(x)

1

In [25]:
print(y)

2

In [26]:
print(z)

3

In [28]:
name = "neeraj"
print(name)
type(name)

neeraj

str

In [29]:

name = "neeraj"

type(name)

str

In [30]:
x=10
type(x)

int

In [31]:
x=12.30
type(x)

float

In [32]:
x=true
type(x)

NameError: name 'true' is not defined

### Phython is case-sensitive

In [33]:
z="True"
type(z)

str

In [34]:
z='True'
type(z)

str

### Imlicit conversion

In [40]:
x=10
y=5
x/y

2.0

In [41]:
x=10
y="ds"
x+y

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [42]:
x=10.5
y="ds"
x+y

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [43]:
x="da"
y="sa"
x+y

'dasa'

In [44]:
x=10
y=10.4
x+y

20.4

In [45]:
x=10.5
y="10"
x+int(y)

20.5

In [50]:
int -> float
int->string
float->int
float->str
str->int
str->float

SyntaxError: invalid syntax (1157107923.py, line 1)

In [51]:
x="hi"
int(x)

ValueError: invalid literal for int() with base 10: 'hi'

In [52]:
x="hi"
float(x)

ValueError: could not convert string to float: 'hi'

## Github account